.message_container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 60px auto  60px 60px 60px;
    border-bottom: 2px solid black;
}

.icon_container{
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-row: auto 1fr;
    justify-items: center;

}

.downvote_container{
    background: url(../media/downvote-icon.png) no-repeat;
    grid-template-rows: 1fr auto;
    background-size: 40px 40px;
    background-position: center;

}

.upvote_container{
    background: url(../media/upvote-icon.png) no-repeat;
    background-size: 40px 40px;
    background-position: center;

}


.delete_container{
    background: url(../media/delete-icon.png) no-repeat;
    background-size: 35px 35px;
    justify-items: center;
    background-position: center;

}

.comment_container{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    word-break: break-all;
}